main {
  background-image: linear-gradient(red, pink);
  padding: 30px;
  margin: 0px;
}

.page-title {
    text-align: center;
    font-size: 50px;
    
}

.navbar {
  display: flex;
  background-color: darkslateblue;
  justify-content: space-between;
  padding: 15px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

a {
    color: black;
}

.about {
  padding: 30px;
  display: flex;
  gap: 20px;
  font-size: 20px;
  align-items: center;
  height: 390px;
}

footer {
    background-color: darkslateblue;
    padding: 10px;
    position: fixed;
    width: 1475px;
    text-align: center;
}

body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.personal-website {
    display: flex;
    text-align: center;
    padding: 20px;
    flex-direction: column;
    height: 410px;
    justify-content: center;
}

.blog-page {
    display: flex;
    flex-direction: column;
    height: 575px;
    gap: 25px;
    align-items: center;
}

.resume{
    height: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#contact-form{
    display: flex;
    flex-direction: column;
    height: 450px;
    align-items:center;
    gap: 15px;
}
input, 
textarea {
    width: 200px;
}